// Variables
$font-family_default: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-family_corp: 'Amatic SC', cursive;

$color_default: #9F9F9F;
$color_corp: #767676;
$color_weak: #E3A8B1;
$color_strong: #E37B89;
$bgColor_default: #F8F7FC;
$bgColor_corp: #fff;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

// Mixin
$breakpoints: (
'sm': 'screen and (max-width: 414px)',
'md': 'screen and (max-width: 768px)',
'lg': 'screen and (max-width: 1000px)',
'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ------- Common ------- */
html, body {
  font-family: $font-family_default;
  font-size: $font-size_default;
  color: $color_default;
  height: 100%;
}
a {
  text-decoration: none;
  transition: .3s;
  color: $color_corp;
  &:hover {
    color: $color_weak;
  }
}
.cb {
  clear: both;
}
.fas {
  cursor: pointer;
  &.active {
    color: red;
  }
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 $space_3l;
  background: rgba(255, 255, 255, .7);
  &-left {
    font-family: $font-family_corp;
    font-size: $font-size_3l;
  }
  &-right {
    &-menu {
      display: flex;
      &-item {
        margin-left: $space_3l;
      }
    }
  }
}

// Hero
.hero {
  background: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  &-title {
    font-family: $font-family_corp;
    font-size: 170px;
    margin-bottom: 30px;
  }
  &-login, &-signup {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: green;
    color: #fff;
    font-size: $font-size_xl;
    cursor: pointer;
    margin-top: 30px;
  }
  &-signup {
    background: skyblue;
  }
}

// Pet List
.container-original {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  .side-bar {
    width: 20%;
    background: #F9F8F3;
    padding: 20px;
    box-sizing: border-box;
  }
  .main-wrapper {
    width: 75%;
    .pets {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .pet {
        width: 30%;
        img {
          width: 100%;
          height: 150px;
          object-fit: contain;
        }
      }
    }
  }
}
